<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>12154763970-f88n7cjjqcse9op3r4igbae47o4lghl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.12154763970-f88n7cjjqcse9op3r4igbae47o4lghl8</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>12154763970-u9hc1k4e67gisii4el8ul0hg129su1ug.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCh6aH-eGjmbfKu-G_d2Yv-433RogfSOes</string>
	<key>GCM_SENDER_ID</key>
	<string>12154763970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pedrogrameitor.tomora</string>
	<key>PROJECT_ID</key>
	<string>tomora-df39a</string>
	<key>STORAGE_BUCKET</key>
	<string>tomora-df39a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:12154763970:ios:eae1c18e842a7b37e8595b</string>
</dict>
</plist>